<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kr.ac.gachon.www.GachonGroup">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_NUMBERS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/app_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".etc.FullScreenImageActivity"></activity>
        <activity android:name=".Group.GroupJoinRequestLogActivity" />
        <activity android:name=".JoinRequest.JoinRequsetLogDetailActivity" />
        <activity android:name=".JoinRequest.JoinRequestLogActivity" />
        <activity android:name=".JoinRequest.JoinRequestActivity" />
        <activity android:name=".Board.AccuseActivity" />
        <activity android:name=".etc.LoadActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Account.LoginActivity" />
        <activity android:name=".Account.FindIdActivity" />
        <activity android:name=".Account.SignUpActivity" />
        <activity android:name=".Board.HomeActivity" />
        <activity android:name=".Group.GroupListActivity" />
        <activity android:name=".Group.GroupMenuActivity" />
        <activity android:name=".Account.MyInformationActivity" />
        <activity android:name=".Account.EditMyInformationActivity" />
        <activity android:name=".Group.GroupScheduleActivity" />
        <activity android:name=".Board.PRBoardActivity" />
        <activity
            android:name=".Board.BoardActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".Group.IntroduceActivity" />
        <activity android:name=".Board.RequirementsActivity" />
        <activity
            android:name=".Board.FederationNoticeActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".Board.SearchActivity" />
        <activity
            android:name=".Board.QnAActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".Board.AddPostActivity" />
        <activity
            android:name=".Board.InformationBoardActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".Group.GroupQnAActivity" />
        <activity android:name=".Group.EditIntroduceActivity" />
    </application>

</manifest>